<hr/>
<h3>Player Stats</h3>

<!--<vaadin-grid #playerStats >-->
  <table>
    <colgroup>
      <col>
      <col>

      <col class="fore">
      <col class="fore">
      <col class="fore">
      <col class="fore">
      <col>
      <col>
      <col>
      <col>

      <col class="fore">
      <col class="fore">
      <col class="fore">
      <col class="fore">
      <col>
      <col>
      <col>
      <col>

      <col class="fore">
      <col class="fore">
      <col class="fore">
      <col class="fore">
      <col>
      <col>
      <col>
      <col>

      <col class="fore">
      <col>
      <col class="fore">
      <col>
      <col class="fore">
    </colgroup>
    <thead>
      <tr>
        <th colspan="2"></th>
        <th align="center" colspan="8">Even</th>
        <th align="center" colspan="8">Power Play</th>
        <th align="center" colspan="8">Short Handed</th>
      </tr>
      <tr>
        <th colspan="2"></th>
        <th  class="fore" align="center" colspan="4">Fore</th>
        <th align="center" colspan="4">Against</th>

        <th  class="fore" align="center" colspan="4">Fore</th>
        <th align="center" colspan="4">Against</th>

        <th  class="fore" align="center" colspan="4">Fore</th>
        <th align="center" colspan="4">Against</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>S</th>
        <th>G</th>
        <th>M</th>
        <th>B</th>
        <th>S</th>
        <th>G</th>
        <th>M</th>
        <th>B</th>

        <th>S</th>
        <th>G</th>
        <th>M</th>
        <th>B</th>
        <th>S</th>
        <th>G</th>
        <th>M</th>
        <th>B</th>

        <th>S</th>
        <th>G</th>
        <th>M</th>
        <th>B</th>
        <th>S</th>
        <th>G</th>
        <th>M</th>
        <th>B</th>

        <th>Corsi</th>
        <th>Goals Scored</th>
        <th>Assists</th>
        <th>FO Won</th>
        <th>FO Lost</th>

      </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let stats of playerstatsList | position:'wcd' ">-->
      <tr *ngFor="let stats of playerstatsList">
        <td align="left">{{stats.player.number}}</td>
        <td align="left">{{stats.player.last_name}}</td>
        <td align="center">{{stats.shotStat(ShotType.SAVE,  ForeAgainst.FORE,    Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.GOAL,  ForeAgainst.FORE,    Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.MISS,  ForeAgainst.FORE,    Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.BLOCK, ForeAgainst.FORE,    Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.SAVE,  ForeAgainst.AGAINST, Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.GOAL,  ForeAgainst.AGAINST, Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.MISS,  ForeAgainst.AGAINST, Strength.EVEN)}}</td>
        <td align="center">{{stats.shotStat(ShotType.BLOCK, ForeAgainst.AGAINST, Strength.EVEN)}}</td>

        <td align="center">{{stats.shotStat(ShotType.SAVE,  ForeAgainst.FORE,    Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.GOAL,  ForeAgainst.FORE,    Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.MISS,  ForeAgainst.FORE,    Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.BLOCK, ForeAgainst.FORE,    Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.SAVE,  ForeAgainst.AGAINST, Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.GOAL,  ForeAgainst.AGAINST, Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.MISS,  ForeAgainst.AGAINST, Strength.POWER_PLAY)}}</td>
        <td align="center">{{stats.shotStat(ShotType.BLOCK, ForeAgainst.AGAINST, Strength.POWER_PLAY)}}</td>

        <td align="center">{{stats.shotStat(ShotType.SAVE,  ForeAgainst.FORE,    Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.GOAL,  ForeAgainst.FORE,    Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.MISS,  ForeAgainst.FORE,    Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.BLOCK, ForeAgainst.FORE,    Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.SAVE,  ForeAgainst.AGAINST, Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.GOAL,  ForeAgainst.AGAINST, Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.MISS,  ForeAgainst.AGAINST, Strength.SHORT_HANDED)}}</td>
        <td align="center">{{stats.shotStat(ShotType.BLOCK, ForeAgainst.AGAINST, Strength.SHORT_HANDED)}}</td>

        <td align="center">{{stats.corsi()}}</td>
        <td align="center">{{stats.goalsScored()}}</td>
        <td align="center">{{stats.assists()}}</td>
        <td align="center">{{stats.faceOffsWon()}}</td>
        <td align="center">{{stats.faceOffsLost()}}</td>
      </tr>
    </tbody>
  </table>

<hr/>
<h3>Goals</h3>

  <table>
    <colgroup>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th align="center">Goal</th>
        <th align="center">Scored</th>
        <th align="center">Assist 1</th>
        <th align="center">Assist 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shot of shotsList  ">
        <td align="left">{{shot.id}}</td>
        <td align="center">{{shot.shooterPlayerId}}</td>
        <td align="center">{{shot.assist1PlayerId}}</td>
        <td align="center">{{shot.assist2PlayerId}}</td>
      </tr>
    </tbody>
  </table>


<!--</vaadin-grid>-->

