
<paper-drawer-panel drawer-width="100px">
  <paper-header-panel drawer>
    <div class="row">
    <paper-toolbar>
      <div>Fore</div>
    </paper-toolbar>
    <div>
      <paper-button class="row" raised (click)="recordMiss(ForeAgainst.FORE)" >Miss</paper-button>
      <paper-button class="row" raised (click)="recordBlock(ForeAgainst.FORE)">Block</paper-button>
      <paper-button class="row" raised (click)="recordSave(ForeAgainst.FORE)" >Save</paper-button>
      <paper-button class="row" raised (click)="recordGoal(ForeAgainst.FORE)" >Goal</paper-button>
    </div>
    </div>
    <div class="row">

    <paper-toolbar>
      <div>Against</div>
    </paper-toolbar>
    <div>
      <paper-button class="row" raised (click)="recordMiss(ForeAgainst.AGAINST)" >Miss</paper-button>
      <paper-button class="row" raised (click)="recordBlock(ForeAgainst.AGAINST)">Block</paper-button>
      <paper-button class="row" raised (click)="recordSave(ForeAgainst.AGAINST)" >Save</paper-button>
      <paper-button class="row" raised (click)="recordGoal(ForeAgainst.AGAINST)" >Goal</paper-button>
    </div>

    <paper-toolbar>
      <div>Setup</div>
    </paper-toolbar>
    <div>
      <paper-button class="row" raised (click)="eMailData()">e-mail</paper-button>
    </div>

</div>
  </paper-header-panel>
  <paper-header-panel main>
    <paper-toolbar>
      <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
      <paper-button raised (click)="recordFaceOff()">FO</paper-button>

      <paper-button noink toggles raised class="red" [(active)]="onPP"> PP </paper-button>
      <paper-button noink toggles raised class="red" [(active)]="onSH"> SH </paper-button>


    </paper-toolbar>
    <!-- Main Content -->
    <div id="grid">
      <button class="grid-element"
             (click)="togglePlayerActive(player.number)"
             [style.background-color]="isPlayerActive(player.number) ? 'green' : 'red'"
             *ngFor="let player of playerList">
        <font size="10">{{player.number}}</font><br/>
        {{player.first_name}}
      </button>
    </div>

  <br/>
  <div class="row">
    <app-player-stats></app-player-stats>
  </div>


<!--<div class="row">
    <vaadin-grid>
      <table>
        <colgroup>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shot of getShots()">
            <td>{{shot.id}}</td>
            <td>{{shot.type}}</td>
          </tr>
        </tbody>
      </table>
    </vaadin-grid>
</div>-->

<!--
<div class="row">
    <vaadin-grid>
      <table>
        <colgroup>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>playerID</th>
            <th>shotID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ps of getPlayerShots()">
            <td>{{ps.playerId}}</td>
            <td>{{ps.shotId}}</td>
          </tr>
        </tbody>
      </table>
    </vaadin-grid>
</div>
-->


  </paper-header-panel>
</paper-drawer-panel>

<!--<paper-dialog
    id="goalDialog"
    no-overlap horizontal-align="left"
    vertical-align="top"
    modal="true"
    (iron-overlay-closed)="_goalDialogClosed($event)"
    >-->
  <app-goal-dialog (confirmed)='onGoalConfirmed($event)'></app-goal-dialog>
  <app-face-off-dialog (confirmed)='onFaceOffConfirmed($event)'></app-face-off-dialog>
<!--</paper-dialog>-->

<!--
  <div class="row">
    <vaadin-grid [items]="playerList">
      <table>
        <colgroup>
          <col name="last_name">
          <col name="number">
          <col name="position" hidable>
          <col name="line" hidable>
        </colgroup>
      </table>
    </vaadin-grid>

    <vaadin-grid>
      <table>
        <colgroup>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shot of getShots()">
            <td>{{shot.id}}</td>
            <td>{{shot.type}}</td>
          </tr>
        </tbody>
      </table>
    </vaadin-grid>
  </div>
-->

<!-- </paper-header-panel>-->
